<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://www.santaanadelosguacaras.gob.ar/museo">
      <img src="./theme_front/img/logo_small-1.png" alt="Museo Guacarás" height="40" class="me-2">
      Museo Histórico Guacarás
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="./index.html">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="./index.html#salas">Salas</a></li>
        <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
